body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modFormLabel {
    margin: 1% 2% 0% 15%;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 15%;
    text-align: left;
}

.modFormInput {
    margin: 0.2% 2% 0% 15%;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 15%;
    text-align: left;
}

.modFormButton {
    margin: 1% 2% 0% 14%;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 15%;
    text-align: center;
}

.modTableList {
    margin: 1% 2%;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: right;
    width: 50%;
}

.modFormLabelClear {
    clear: left;
}

.modFormTextArea textarea{
	margin: 0.2% 2% 0% -1%;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 13%;
    text-align: left;
    height: 100px;
}

input.active:valid {
    box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.modFormMess {
    display:inline-block;
    margin: 1% 2% 0% 13%;
    color: green;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 25%;
    text-align: left;
}

.modFormMessErr {
    display:inline-block;
    margin: 1% 2% 0% 13%;
    color: red;
    font-weight: bold;
    font-size: 12px;
    float: center;
    width: 25%;
    text-align: left;
}